@font-face {
  font-family: Poppins;
  src: "src/components/data/fonts/Poppins-Regular.ttf";
}

* {
  /* font-family: "Poppins"; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #e0a80d;
  --greyDark: #7d8792;
  --headingColor:#2d2e2e;
  --white: #fff;
  --black: #000;
  --sliver: #bac8d3;
}

body {
  background-color: var(--headingColor);
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

a {
  color: var(--greyDark);
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: var(--primaryColor);
}

p {
  color: var(--sliver);
  font-size: 15px;
  line-height: 30px;
  margin: 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.container {
  max-width: 80%;
  margin: auto;
}

.flexsb {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  outline: none;
  background: none;
  font-size: 17px;background-color: var(--primaryColor);
  color: var(--white);
  padding: 15px 50px;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}

.primaryBtn {
  background: none;
  border: 2px solid var(--primaryColor);
}


/* ===================== header ===================== */
header {
  background-color: var(--headingColor);
  height: 10vh;
  line-height: 10vh;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
header a {
  margin-left: 40px;
}

.toggle {
  cursor: pointer;
  color: var(--white);
  display: none;
}

@media screen and (max-width: 768px) {
  header .nav {
    display:  none;
  }
  header a {
    width: 100%;
    display: block;
  }
  .toggle {
    display: block;
    background: none;
    font-size: 25px;
  }
  .hideMenu {
    display: block;
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background-color: var(--headingColor);
  }
}
/* ===================== header ===================== */

section {
  /* height: 90vh; */
  margin-bottom: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
}

/* ===================== hero ===================== */
section.banner {
  height: 90vh;
}

.hero {
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../public/images/home-bg.png");
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  width: 100%;
  height: 90vh;
}

.heroContainer {
  max-width: 50%;
  margin: auto;
  text-align: center;
}
.hero h1 {
  font-size: 60px;
  font-weight: 600;
  color: var(--primaryColor);
}
/* ===================== hero ===================== */

.heading {
  font-size: 30px;
  color: var(--primaryColor);
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}

/* ===================== about ===================== */
.about .primaryBtn {
  margin-left: 20px;
}
.about .heading {
  text-align: left;
  margin: 0;
}
.left {
  width: 35%;
}
.right {
  width: 65%;
}
/* ===================== about ===================== */

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* ===================== services ===================== */
.services .box {
  background-color: var(--primaryBackground);
  padding: 35px;
}
.services i {
  color: var(--primaryColor);
}
.services h3 {
  margin-top: 20px;
}
/* ===================== services ===================== */

.grid4 {
  grid-template-columns: repeat(4, 1fr);
  height: 50vh;
  place-items: center;
  text-align: center;
}

/* ===================== counter ===================== */
.counter {
  margin-top:  80px;
  position: relative;
}
.hero.counter::after {
  background-image: url("../public/images/some-facts-bg.png");
  height: 50vh;
}
.counter h1 {
  margin: 0;
}
/* ===================== counter ===================== */



